.imagem{
    max-width: 100%; 
}
.imagemMeio{
    display: flex;
    height: 50em;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}
.div{
    flex: 1;
}
.div2{
    flex: 1;
}
.plano{
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    border: none;
    font-size: larger;
    margin-top: 4%;
}
.box{
    display: flex;
    justify-content: center;
    height: 20em;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
}
.celular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.appBot{ 
    font-size: 20px;
    font-weight:normal;
    color: white;
    margin-left: 45%;
    margin-top: -19%;
}
.botGP{
    margin-left: 2%;
}
.boxnumero{
    display: flex;
    margin-top: -10%;
    height: 30em;
    background: linear-gradient(90deg, #4a4a49 0%, #1b1b1a 100%);
    justify-content: center;
    align-items: center;
}
.numero{
    width: 100%;
}
.slide{
    display: block;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin-top: -10%;
}
.img{
    width: 100%;
    justify-content: center;
}
.titulo{
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}
.botBio{
    margin-top: 5%;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    border: none;
    font-size:x-large;
}
.b{
    height: 10%;
}
.fibra{
    display: flex;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    height: 300px;
    justify-content: center;
    align-items: center;
}
.fibraDiv{
    color: white;
    width: 50%;
}
.telecom{
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.telecomDiv{
    color: white;
    width: 50%;
}