.titulo{
    font-size: 30px;
    font-weight: bold;
    color: #4a4a49;
 
}
.body{
    background-color:  #e6e6e6;
}
.sub{
    font-size: 20px;
    color: #4a4a49;
    margin-top: 20px;
   
}
.container{
    text-align: center;
    
}
.card{
    background-color: #e6e6e6 !important;
    border: #e6e6e6  !important;
    height: 50%;
}
.cardG{
    margin-bottom: 5%;
    margin-top: 5%;
    height: 100%;
}
.botao {
    display: inline-block;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    background-color: #7e1bca;
background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);

}