.container{
    background-color: #E2474D;
    color: white;
    padding-top: 5%;
    margin-top: -10%;
}
.card{
    margin-top: 5%;
    background-color:#E2474D
    ;
    color: white;
    border: none;
    padding-bottom: 5%;
}
.cardG{
    width: 100%;
}
.botao{
    display: inline-block;
    border: none !important;
    cursor: pointer;
    color: white;
    width: 200px;
    background: #A12AA0;
}