#navega{
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #e6e6e6;
    border-bottom: black;
  
}
body{
    background-color: #e6e6e6;
}
.nav-link {
    color:black !important;
    border-bottom: black !important; 
}