.select{
    border-color: #7e1bca !important;
    border-width: 3px !important;
    background-color: #212224 !important;
    color: #fff !important;
    width: 300px !important;
}
.navPrincipal{
    display: grid;
}

.body{
    background-color: #e6e6e6;
}
.rodape{
   
    background:#1b1b1a;
    padding: 20px 0;
    text-align: center;
    color: white;
}
.botao{
    display: flex;
    border: none !important;
    cursor: pointer;
    color: white;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);

}
.botao1{
    display: inline-block;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    border: none !important;
}

.box1{
    display: inline-block;
    width: 50%;

}
.box2{
    display: inline-block;


}
.container{
    margin-top: 2%;
    display:flex;
    justify-content: center ;
}
.img{
    width: 5% !important;
    margin-right: 1%;
    justify-content: flex-end ;
    display: flex;
}

.divBotao{
    display: inline-block;
    justify-content: center;
    margin: auto;

}
.box3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.card{
    color: #7E1BCA;
    background: #1b1b1a !important;
    border: none !important;
    font-size: 18px;
    font-weight: bold;
 
    
}
.traco{
    border-bottom: 4px solid ;
    color: #7E1BCA;
    opacity: 0.5;
    margin-bottom: 1%;
    margin-top: 1%;
}
.navText{

    margin-right: 1%;
    font-size: larger;
}
.navText:hover{
 
    border-bottom: 3px solid #7E1BCA ;
  
}
.divNavegar{
    display: grid;
}
@media (max-width: 896px){

  
    .navPrincipalCont{
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .textNumero{
        display: inline-block !important;
        margin-top: 1%;
    }
    .botao{
        display: flex;
        margin-top: 1%;
        
    }
}