
.body{
    background-color: #e6e6e6;
}
.container{
    display: flex;
    width: 100%;
    background-color:#7E1BCA!important;
    padding-top: 4%;
    padding-bottom: 4%;
}
.card{
background-color: #7E1BCA
!important;
border: none !important;
color: white;

}
.titulo{
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
  
}
.numero{
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    text-align: inherit;
    margin-left: 0px;
    margin-right: 10px;
}
.uni{
    display: inline-block;
    font-size: 36px;
    margin-right: 2%;
    margin-top: 30px;
}
.complemento{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;

}
.imagem{
    width: 100%;
    height: 10%;
}
