.titulo{
    color: #7E1BCA
    ;
    display: block;
    font-weight: normal;
}
.texto{
    font-size: 36px;
    line-height: 48px;
    color: #4a4a49;
    font-weight: bold;
}
.container{
    /* width: 2000px; */
}
.body{
    background-color: #e6e6e6;
}
.cardG{
  padding-bottom: 15%;

}
.card{
    background-color: #e6e6e6 !important;
    border:#e6e6e6 !important ;
    
}
.botao{
    display: inline-block;
    border: none !important;
    cursor: pointer;
    color: white;
    width: 40%;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);

}
