.body {
    background-color: #e6e6e6;
}
.container {
    width: 100%;
}
.tablePlan {
    background-color:#e6e6e6;
    font: inherit;
    vertical-align: baseline;
    font-size: 20px;
    color: #3a3a39;

}
.table{
    text-align: center;
}
.titulo {
    font-weight: bold;
    font-size: 32px;
    color: purple;
    vertical-align: middle;
}
.cima{
    display: flex;
    width: auto;
    height: 90px;
}
.quant {
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(90deg,purple 0%, #7d14c4 100%);
    background: -moz-linear-gradient(90deg, purple 0%, #7d14c4 100%);
    background: -o-linear-gradient(90deg,purple 0%, #7d14c4 100%);
    background: linear-gradient(90deg, purple 0%, #7d14c4 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mega {
    font-size: 24px;
    color: #464645;
    line-height: 80px;  
    margin-right: 5%;                
    
}
.cifrao {
    font-size: 24px;
    color: #464645;
    display: inline-block; 
     
}
.inteiro {
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    color: #3a3a39;
}
.centavo {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #3a3a39;
    margin-top: -50px;
    position: absolute;
}
.mes {
    margin-top: -10%;
    font-size: 24px;
    color: #464645;
    display: inline-block;
}
.valor {
    margin-top: -14%;
    margin-left: 5%;
}
.box {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.botao {
    display: inline-block;
    border: #e6e6e6;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    background: -webkit-linear-gradient(90deg,purple 0%, #7d14c4 100%);
    background: -moz-linear-gradient(90deg, purple 0%, #7d14c4 100%);
    background: -o-linear-gradient(90deg,purple 0%, #7d14c4 100%);
    background: linear-gradient(90deg, purple 0%, #7d14c4 100%);
}
.plan-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   
  }
.boxRight{
    display: inline-block;
}
.descricao{
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #3a3a39;
}