.body{
    background-color: #e6e6e6;
}
.tablePlan{
    background-color:#e6e6e6 ;
    max-width: 80%;
    margin: 0 auto;
}
.titulo{
    font-weight: bold;
    font-size: 32px;
    color: #f7941d;
}
.quant{
    font-size: 70px;
    font-weight: 900;
    background: -webkit-linear-gradient(90deg, #fc882b 0%, #fc725a 100%);
    background: -moz-linear-gradient(90deg, #fc882b 0%, #fc725a 100%);
    background: -o-linear-gradient(90deg, #fc882b 0%, #fc725a 100%);
    background: linear-gradient(90deg, #fc882b 0%, #fc725a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mega{
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    margin-left: -1%;
    margin-top: 2%;
    text-transform: lowercase;
    color: #464645;
}
.cifrao{
     font-size: 24px;
    color: #464645;
    display: inline-block;  
}
.inteiro{
    display: inline-block;
    font-size: 70px;
    font-weight: 900;
    color: #3a3a39;

}
.centavo{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #3a3a39;
    position: absolute;

}
.mes{
    margin-top: -10%;
    font-size: 24px;
    color: #464645;
    display: inline-block;
}
.valor{
    margin-top: -14%;
    margin-left: 5%;
}