
.div{
    background-color: #e6e6e6 ;
}
.geral{
    background-color: #e6e6e6;

}
.container {
    background-color: #e6e6e6;
    border: none !important;
    padding-top: 2%;
}
.tablePlan {

    font: inherit;
    vertical-align: baseline;
    font-size: 20px;
    color: #3a3a39;
    background-color: #e6e6e6;
}
.table{
    justify-content: center;
    text-align: center;
    border-bottom: 3px #ccc solid;
    border-radius: 100%;
}
.tr{
    border-bottom: 3px #ccc solid;
    border-radius: 100%;
}
.titulo {
    font-weight: bold;
    font-size: 32px;
    color: #7e1bca;
    vertical-align: middle;
}
.cima{
    display: flex;
    width: auto;
}
.quant {
    font-size: 70px;
    font-weight: 900;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mega {
    font-size: 24px;
    color: #464645;
    line-height: 80px;  
}
.cifrao {
    font-size: 24px;
    color: #464645;
    display: inline-block; 
     
}
.inteiro {
    display: inline-block;
    font-size: 45px;
    font-weight: 900;
    color: #3a3a39;
}
.centavo {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #3a3a39;

}
.mes {
    font-size: 24px;
    color: #464645;
    display: inline-block;
}
.box {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.botao {
    border: none;
    display: inline-block;
    border: #e6e6e6;
    cursor: pointer;
    vertical-align: middle;
    color: white;
    background-color: #7e1bca;
    background-image: linear-gradient(43deg, #7e1bca 0%, #a12aa0 30%, #e2474d 66%, #fd5719 100%);
    
}
.plan-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

   
  }
.boxRight{
    display: inline-block;
}
.descricao{
    vertical-align: middle;
    text-align:justify;
    font-size: 18px;
    line-height: 30px;
    color: black;

}
.imagem{
    display: flex;
    width: 70%;
    height: 10%;
    margin: auto;
    margin-top: -7%;
}

